.app-header {
  height: 50px;
  width: calc(100vw - 40px);
  position: static;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: rgba(101, 111, 117, 0.2) 0px 8px 32px;
}

.app-header h2 {
  color: var(--primary-color);
}

.App-logo {
  height: 30px;
}

.user-img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.app-header--user-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}